{% extends 'main/base.html' %}

{% block title %}Оформление заказа{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Оформление заказа</h2>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4>Состав заказа</h4>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Изображение</th>
                                <th>Название</th>
                                <th>Количество</th>
                                <th>Цена за единицу</th>
                                <th>Общая цена</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart %}
                            <tr>
                                <td><img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" width="100"></td>
                                <td>{{ item.product.name }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.price }}</td>
                                <td>{{ item.total_price }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <h5 class="text-right">Общая стоимость: {{ cart.get_total_price }} руб.</h5>

                    <form method="post">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-primary btn-lg">Оформить заказ</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
