{% extends "main/base.html" %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'catalog:catalog' %}">Каталог</a></li>
{% endblock %}


{% block content %}
    <h2>Мои заказы</h2>
    {% if orders %}
        <table class="table">
            <thead>
                <tr>
                    <th>№ заказа</th>
                    <th>Дата</th>
                    <th>Статус</th>
                    <th>Сумма</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td><a href="{% url 'orders:user_orders_detail' order.pk %}">{{ order.id }}</a></td>
                        <td>{{ order.updated }}</td>
                        <td>{{ order.get_status_display }}</td>
                        <td>{{ order.get_total_cost }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>У вас нет заказов.</p>
    {% endif %}
{% endblock %}
